<!DOCTYPE html>

<head>
  <!--TITLE-->  
  <title>Enter a title</title>
  
  <!-- Change the color of the tab on mobile: -->
  <meta name="theme-color" content="#E3CA72">

  <!-- CSS LINKING -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap" rel="stylesheet"> 

  <!--meta (needed for media queries and such)-->    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

  <!--Javascript-->
    <!--jQuery-->  
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- D3 -->
      <script src="https://d3js.org/d3.v5.min.js"></script>
    <!--FONT AWESOME-->
      <script src="https://kit.fontawesome.com/ead9e1b81c.js" crossorigin="anonymous"></script>

</head>

<body>
  <h1>How diverse is my friend group?</h1>
  <div id="submitButton" class="button-cta-primary submitButton">FIND OUT</div>
  
  
  
<!-- Local Javascript file link-->  
<script src="../public/js/interactions.js"></script> 
</body>
</html>